## OnProcessingEvent Subscription - Response Mapping Template
## Filters subscription results for processing events

#set($subscriberEmail = $ctx.identity.claims.email)
#set($targetOrderId = $ctx.args.orderId)

## Filter: Only deliver if the order matches the subscription filter
#if($ctx.result.orderId != $targetOrderId)
    $util.toJson(null)
#else
    $util.toJson($ctx.result)
#end
