## OnErrorNotification Subscription - Response Mapping Template
## Filters subscription results for error notifications by order ID

#set($subscriberEmail = $ctx.identity.claims.email)
#set($targetOrderId = $ctx.args.orderId)

## Filter: Only deliver if the order matches the subscription filter
#if($ctx.result.orderId != $targetOrderId)
    $util.toJson(null)
#else
    ## Return the error notification
    $util.toJson($ctx.result)
#end
